{% extends 'reserva_turnos/base.html' %}

{% block title %} Listado de Turnos {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-4">Turnos</h2>
            <a href="{% url 'vbc_turnos_create' %}" class="btn btn-success">Crear Turno</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Profesional</th>
                    <th scope="col">Consultorio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if turnos %}
                {% for turno in turnos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ turno.nombre_de_usuario }}</td>
                    <td>{{ turno.profesional.nombre }}</td>
                    <td>{{ turno.consultorio }}</td>
                    <td>{{ turno.fecha | date:"Y-m-d" }}</td>
                    <td>{{ turno.hora_inicio | date:"H:i" }}</td>
                    <td>
                        <a href="{% url 'vbc_turnos_detail' turno.id %}" class="btn btn-primary btn-sm">Ver</a>
                        <a href="{% url 'vbc_turnos_update' turno.id %}" class="btn btn-success btn-sm">Editar</a>
                        <a href="{% url 'vbc_turnos_delete' turno.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No hay turnos para ese usuario ingresado.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}