{% extends 'reserva_turnos/base.html' %}

{% block title %}Acerca de mi{% endblock %}

{% block content %}

<H5>Mi nombre es Gonzalo Castro Santacroce, tengo 34 años, vivo en Quilmes y trabajo como administrativo en una logística.
Me interesa mucho lo relacionado a los datos, el uso que se le puede dar a los mismos a traves de la ciencia de datos, los 
algoritmos predictivos y es por eso que hice un primer acercamiento con Python. Es el primer curso de programacion que hice, 
vendra muchos seguramente mas adelante, la verdad es que me gustaria en el tiempo poder profundizar conocimientos respecto a 
todos estos temas y quizas el dia de mañana poder trabajar en algo relacionado a esto.
Agradezco la ayuda de los tutores Fede y Migue (te volvi loco Migue, perdon y gracias) y del profe Mariano (un crack); que
en todo momento trataron de explicar de manera simple conocimientos complejos, y tratar de que entendieramos siempre todo 
lo explicado. Muchas gracias!</H5>

{% endblock %}